.seller-form-container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    padding: 30px;
    color: black;
  }
  
  .seller-form-container h2 {
    color: black;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
  }
  
  .seller-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input,
  textarea,
  select {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1rem;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .form-group label{
    color: black;
  }
  
  .full-width {
    flex-direction: column;
  }
  
  .owners-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
  }
  .sellerpostac-form-owner {
    font-weight: 600;
    flex: 1;
  }
  .owner-buttons {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
  }
  
  
  .owner-buttons button {
    padding: 10px 16px;
    border: 1px solid #007bff;
    background-color: #eaf3ff;
    color: #007bff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .owner-buttons button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .owner-buttons button.selected {
    background-color: #0056b3;
    color: white;
    border-color: #004494;
  }
  
  .photo-boxes {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .photo-box {
    width: 100px;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    border: 1px solid black;
  }
  
  .photo-box:hover {
    background: #ccc;
  }
  
  .photo-box input[type="file"] {
    display: none;
  }
  
  .submit-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .submit-section button {
    padding: 14px 28px;
    background-color: #0055de;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .submit-section button:hover {
    background-color: #003fad;
  }
  